{% extends "auth/base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <h1 class="text-3xl text-gray-800 dark:text-gray-100 font-bold mb-6">Create your Account</h1>
    <!-- Form -->
    <form>
        <div class="space-y-4">
            <div>
                <label class="block text-sm font-medium mb-1" for="email">Email Address <span class="text-red-500">*</span></label>
                <input id="email" class="form-input w-full" type="email" />
            </div>
            <div>
                <label class="block text-sm font-medium mb-1" for="name">Full Name <span class="text-red-500">*</span></label>
                <input id="name" class="form-input w-full" type="text" />
            </div>
            <div>
                <label class="block text-sm font-medium mb-1" for="role">Your Role <span class="text-red-500">*</span></label>
                <select id="role" class="form-select w-full">
                    <option>Designer</option>
                    <option>Developer</option>
                    <option>Accountant</option>
                </select>
            </div>
            <div>
                <label class="block text-sm font-medium mb-1" for="password">Password</label>
                <input id="password" class="form-input w-full" type="password" autocomplete="on" />
            </div>
        </div>
        <div class="flex items-center justify-between mt-6">
            <div class="mr-1">
                <label class="flex items-center">
                    <input type="checkbox" class="form-checkbox" />
                    <span class="text-sm ml-2">Email me about product news.</span>
                </label>
            </div>
            <a class="btn bg-gray-900 text-gray-100 hover:bg-gray-800 dark:bg-gray-100 dark:text-gray-800 dark:hover:bg-white ml-3 whitespace-nowrap" href="index.html">Sign Up</a>
        </div>
    </form>
    <!-- Footer -->
    <div class="pt-5 mt-6 border-t border-gray-100 dark:border-gray-700/60">
        <div class="text-sm">
            Have an account? <a class="font-medium text-violet-500 hover:text-violet-600 dark:hover:text-violet-400" href="signin.html">Sign In</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
